h1, h2, h3, h4, h5, h6, p, a{
    margin: 0;padding: 0;
}

body{
    width: 1343px;
    background: #0F0F0F;
    color: #fff;
     font-family: "Open Sans", sans-serif;
}

.header{
    width: 100%;
    display: inline-flex;
    padding: 10px 0px;

}
.logo{
    width: 20%;
}
.logo h1{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 60px;
    margin-left: 47px;
}
.manu{
    width: 60%;
}
.manu nav{}
.manu ul{}
.manu li{
    display: inline;
}
.manu li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 28px;
    margin: 4px 15px;
    color: #fff;
}
.manu li a:hover{
    transition: 2s;
    color: #FF003B;
}
.active{
    color: #FF003B  !important;
}
.btn{
    width: 20%;
}
.btn button{
    margin: 7px 0px;
}
.ebook{
    border: none;
    padding: 14px 37px;
    font-size: 21px;
    border-radius: 6px;
    background: #FF003B;
    color: #fff;
}
.ebook:hover{
    background: #fff;
    border: 1px solid #FF003B;
    transition: 2s;
    color: #FF003B;
}


.hero{
    width: 100%;
    height: 550px;
    display: inline-flex;
}
.hero_one{
    width: 40%;
}
.hero_one img{
    width: 50%;
    margin: 67px;
}
.hero_two{
    width: 44%;
    margin: 63px 0px;
}
.hero_two h5{
    font-size: 20px;
}
.hero_two h2{
    font-size: 89px;
    font-weight: 800;
    margin: 26px 0px;
    line-height: 92px;
}
.hero_two p{}

.books{
        width: 100%;
    height: 730px;
    text-align: center;
    margin: 18px 0px;
}
.books h5{
        font-size: 20px;
    margin-top: 10px;
}
.books h2{
        font-size: 44px;
    padding: 10px 0px;
}
.books button{
    border: none;
    padding: 5px 20px;
}
.books button:hover{}
.cards{
    width: 100%;
    display: inline-flex;
}
.card{
    width: 30%;
    margin: 23px;
}
.card img{
    width: 100%;
    height: 250px;
}
.card h2{
    text-transform: capitalize;
}
.card p{
    text-align: justify;
}
.card button{
    border: none;
    padding: 20px 10px;
    background: transparent;
    font-size: 17px;
    text-transform: uppercase;
}

.about_me{
    width: 100%;
    height: 600px;
    display: inline-flex;
}
.about_one{
    width: 50%;
    margin:30px;
}
.about_one h5{
    font-size: 20px;
}
.about_one h2{
    font-size: 47px;
    margin: 20px 0px;
}
.about_one p{}
.about_one button{
    margin: 41px 0px;
}
.about_two{
    width: 25%;
}
.about_two img{
    width: 80%;
}

.result{
    height: 660px;
    color: #fff;
}
.result_top{
    text-align: center;
}
.result_top h5{
    font-size: 15px;
}
.result_top h2{
    font-size: 35px;
}
.result_bottom{
    width: 100%;

}
.r_cards{
    width: 90%;
    display: inline-flex;
    margin: 27px 67px;
    
}
.r_card{
    margin: 0px 31px;
    padding: 10px;
    box-shadow: 3px 1px 15px #FF003B;
}
.r_card i{
color: #ff003b;
    padding: 20px;
    background: #e65173d2;
    border-radius: 50px;
    font-size: 30px;
    margin: 10px 0px;

}
.r_card h5{
    font-size: 25px;
    margin: 8px 0px;
}
.r_card p{}

.program{
    width: 100%;
    height: 630px;
    display: inline-flex;
}
.pro_one{
    width: 45%;
}
.pro_one img{
    width: 77%;
    margin: 36px;
}
.pro_two{
    width: 50%;
    margin: 33px;
}
.pro_two h5{}
.pro_two h2{
        font-size: 60px;
    line-height: 63px;
    margin: 20px 0px;
}
.pro_two p{}
.options{}
.option{
    display: inline flex;
    height: 24px;
    background: #f71e1e;
    margin: 8px 0px;
    padding: 10px 0px;
    font-size: 18px;
}
.option i{}
.option p{}

.reviews{
    text-align: center;
    width: 100%;
    height: 400px;
}
.reviews h5{
    font-size: 15px;
}
.reviews h2{
    font-size: 40px;
    padding: 10px 0px;
    margin-bottom: 10px;

}
.review{
    width: 80%;
    margin: 10px 142px;
    background: gray;
    padding: 20px;
}
.review img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.review h3{}
.review p{
    margin-top: 20px;
}

.articles{
    width: 100%;
    height: 550px;
    display: inline-flex;
}
.article_one{
    width: 30%;
    margin: 20px;
    padding: 93px 0px;
}
.article_one h5{}
.article_one h1{
    font-size: 60px;
    margin-bottom: 14px;
}
.article_one p{}
.article_card{
    width: 30%;
    margin: 0px 24px;
}
.article_card img{
    width:100%;
}
.article_card h3{
    margin: 10px 0px;
}
.article_card p{
    color: red;
}

.sign_up{
    width: 65%;
    height: 260px;
    text-align: center;
    margin: 44px 290px;
}
.sign_up h5{
    font-size: 20px;
}
.sign_up h1{
        font-size: 53px;
    margin-bottom: 10px;
}
.sign_up h3{
    margin-bottom: 30px;
}
.sign_up input{
    width: 250px;
    height: 34px;
    border: 2px solid gray;
}
.sign_up button{
    padding: 11px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid gray;
}

.footer{
    text-align: center;
}
.footer h5{}


@media only screen and (min-width:320px) and (max-width:425px){

body{}

.header{}
.logo{}
.logo h1{}
.manu{}
.manu nav{}
.manu ul{}
.manu li{}
.manu li a{}
.manu li a:hover{}
.active{}
.btn{}
.ebook{}

.hero{}
.hero_one{}
.hero_one img{}
.hero_two{}
.hero_two h5{}
.hero_two h2{}
.hero_two p{}

.books{}
.books h5{}
.books h2{}
.books button{}
.cards{}
.card{}
.card img{}
.card h2{}
.card p{}
.card button{}

.about_me{}
.about_one{}
.about_one h5{}
.about_one h2{}
.about_one p{}
.about_one button{}
.about_two{}
.about_two img{}

.result{}
.result_top{}
.result_top h5{}
.result_top h2{}
.result_bottom{}
.r_cards{}
.r_card{}
.r_card i{}
.r_card h5{}
.r_card p{}

.program{}
.pro_one{}
.pro_one img{}
.pro_two{}
.pro_two h5{}
.pro_two h2{}
.pro_two p{}
.options{}
.option{}
.option i{}
.option p{}

.reviews{}
.reviews h5{}
.reviews h2{}
.review{}
.review img{}
.review h3{}
.review p{}

.articles{}
.article_one{}
.article_one h5{}
.article_one h1{}
.article_one p{}
.article_card{}
.article_card img{}
.article_card h3{}
.article_card p{}

.sign_up{}
.sign_up h5{}
.sign_up h1{}
.sign_up h3{}
.sign_up input{}
.sign_up button{}

.footer{}
.footer h5{}

}